/* common styles */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */

/* nav bar */
/* side menu */
.sidebar{
    background-color: #eee;
    height: 100%;
    width: 8rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.menu-icon{
    margin-top: 3rem;
    cursor: pointer;
}

.line{
    background-color: #222;
    margin-bottom: .5rem;
    height: .2rem;
    width: 2.5rem;
}
.line.line-1 {
    width: 1.8rem;
    transition: all .3s;
}
.line.line-3{
    width: 1.8rem; 
    transition: all .3s;   
}

.menu-icon:hover .line{
    width: 2.5rem;
}

.social-icons-list{
    list-style: none;
    height: 25rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link{
    color: #777;
    font-size: 1.8rem;
    transition: color .3s;
}

.social-link:hover{
    color: #deaa86;
}

.year{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}
/* end of side menu */

/* navigation */
.navigation{
    position: fixed;
    width: 40rem;
    left: -32rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34 , 32, 41, 1), rgba(34 , 32, 41, .8)), url(../img/nav-bg.jpeg) center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;
    transition: all .3s cubic-bezier(1,0,0,1);
}
.nav-header{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    color: #deaa86;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;
}

.navigation-search{
    position: relative;
}

.navigation-search-input{
    background-color: rgba(0 , 0, 0, .3);
    font-family: 'Josefin Sans', sans-serif;
    width: 30rem;
    padding: 1rem 2rem;
    color: #deaa86;
    outline: none;
    border-radius: 2em;
    border: .1rem solid #555;
    letter-spacing: .1rem;
}

.navigation-search-input:focus{
    background-color: transparent;
}

.navigation-search-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    color: #deaa86;
    font-size: 1.5rem;
    cursor: pointer;
}

.navigation-list{
    list-style: none;
    height: 28rem;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navigation-item{
    position: relative;
}
.navigation-links{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: .1rem;
    font-weight: 400;
    transition: color .5s;
}

.navigation-links::before{
    content: "";
    height: .1rem;
    width: 0;
    background: #deaa86;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}
.navigation-links::after{
    content: "";
    height: .1rem;
    width: 0;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}

.navigation-links:hover{
    color: #deaa86;
}

.navigation-links:hover::before, .navigation-links:hover::after{
    width: 3rem;
}

.copyright{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation{
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1{
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2{
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3{
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.5rem;
}

#check{
    display: none;
}
/* end of navigation */
/* end of navbar */

/* header */
.header{
    margin-left: 8rem;
    background: linear-gradient(to top, rgb(0,0,0,.5), rgb(0,0,0,.6)), url(../img/header-1.jpeg) center no-repeat;
    height: 100vh;
}

.page-header{
    display: flex;
    font-family:'Josefin Sans', sans-serif;
}

.page-heading{
    margin-top: 3rem;
    color: #deaa86;
    font-weight: 400;
    font-size: 2.7rem;
    letter-spacing: .2rem;
}

.header-barner{
    color: #ddd;
    display: flex;
    height: 65rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barner-header{
    font-size: 7rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0;
    font-weight: 400;
    animation: anim 2s;
}

.barner-text{
    font-size: 3rem;
    font-weight: 380;
    animation: anim 1.5s 0.5s backwards;
}

.barner-btn{
    border-radius: 10rem;
    padding: 1rem 6rem;
    color: #555;
    font-size: 2rem;
    background: linear-gradient(to right, gold, goldenrod);
    outline: none;
    cursor: pointer;
    animation: anim 1s 1s backwards;
}
.barner-btn:hover{
    background: linear-gradient(to left, gold, goldenrod);
}

.barner-btn:active{
    transform: translateX(.2rem);
}

@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* end of header */

/* about us */
.about-us{
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;
}

.aboutus-content{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    box-sizing: border-box;
}

.top-header{
    font-size: 4rem;
    color: #555;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.small-line{
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem auto;
    background-color: #b85d1c;
}

.big-line{
    width: 20rem;
    height: .1rem;
    margin: auto;
    background-color: #b85d1c;
}

.bottom-header{
    color: #b85d1c;
    font-size: 3.5rem;
    font-weight: 300;
}

.aboutus-description{
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 5rem;
    letter-spacing: .1rem;
}

.about-us-btn{
    background-color: transparent;
    border:1px solid #b85d1c;
    color: #b85d1c;
    padding: 0.7rem 0.5rem;
    width: 15rem;
    text-transform: uppercase;
}

.read-more-btn{
    margin-left: .2rem;
    transition: all .3s;
}

.about-us-btn:hover{
    cursor: pointer;
}
.about-us-btn:hover .read-more-btn{
    margin-left: 1rem;
}
.aboutus-image{
    flex: 1 1;
    position: relative;
}

.image{
    position: absolute;
    width: 32rem;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.4);
    border-radius: .4rem;
    border: .2rem solid #b85d1c;
}

.image-1{
    transform: translate(-20%, -90%);
}
.image-2{
    transform: translate(-70%, -70%);
}
.image-3{
    transform: translate(-50%, -50%);

}
.image-4{
    transform: translate(-30%, -30%);
}
/* end of about us */

/* rooms */
.room-section{
    margin-left: 8rem;
}

.common-header{
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}

.common-heading{
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: .2rem;
}
.rooms-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.room-card{
    width: 60rem;
    background-color: #15141b;
    margin: 5rem;
    box-shadow: 0 3rem 6rem rgba(0 , 0, 0, .3);
}

.room-card img{
    width: 100%;
}

.room-card-content{
    color: #ddd;
    padding: 2rem;
}

.room-card-heading{
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

.room-card-description{
    font-size: 1.5rem;
    color: #777;
}

.room-price{
    text-align: right;
    font-size: 4.7rem;
    margin: 0;
}

.room-card-btn{
  padding: 1.5rem 2.8rem;
  border-radius: 10rem;
  background-color: transparent;
  color: #b85d1c;
  border: .1rem solid #b85d1c;
  text-transform: uppercase;
  font-weight: 300;
}

.room-btn{
    text-align: center;
   
}

.room-section-btn{
    background-color: transparent;
    border:1px solid #b85d1c;
    color: #b85d1c;
    padding: 1rem 1.5rem;
    width: 20rem;
    text-transform: uppercase;
    margin: 2.5rem;
    box-shadow: 0 3rem 6rem rgba(0 , 0, 0, .3);
    cursor: pointer;
    transition: all .2s;
}

.room-section-btn:hover{
    color: #ddd;
    background-color: #b85d1c;
}
/* end of rooms */